<!DOCTYPE html>
<meta charset="utf-8">
<style>

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

</style>
<body>
<script src="//d3js.org/d3.v3.min.js"></script>
<div id='satview'></div>
<script>

var margin = {top: 20, right: 20, bottom: 30, left: 40},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

var x = d3.scale.linear()
    .range([0, width]);

var y = d3.scale.linear()
    .range([height, 0]);

var color = d3.scale.category10();

var svg = d3.select("#satview").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var svgImg = svg.append("image")
    .attr("xlink:href", "")
    .attr("width", 150)
    .attr("height", 150)
    .attr("x", 10)
    .attr("y", 10);


var listData = [{% for d in data %}[{{d[0]}}, {{d[1]}}, {{d[2]}}, "{{ static_url(d[3]) }}"] ,{% end %}];
console.log(listData);

x.domain(d3.extent(listData, function(d) { return d[0]; })).nice();
y.domain(d3.extent(listData, function(d) { return d[1]; })).nice();
svg.selectAll("circle")
 .data(listData) // データをバインド。
 .enter()
    .append("circle")
    .attr("r",5)
    .attr("cx", function(d){ return x(d[0]); })
    .attr("cy", function(d){ return y(d[1]); })
    .style("fill", function(d) { return color(d[2]); })
    .on("mouseenter", function(d, i) {
      svg.append("image")
        .attr("xlink:href", d[3])
        .attr("width", 150)
        .attr("height", 150)
        .attr("x", x(d[0]))
        .attr("y", y(d[1]));
    })
    .on("mousedown", function(d, i){
      svg.selectAll("image")
        .attr("width", 300)
        .attr("height", 300);
    })
    .on("mouseup", function(d, i){
      svg.selectAll("image")
        .attr("width", 150)
        .attr("height", 150);
    })
    .on("mouseleave", function(d, i) {
      svg.selectAll("image")
        .remove();
    });

</script>
